input, textarea {
  max-width:100%
}

div > form.ui.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.field > textarea, input {
  height: 55px;
  width: 95%;
  resize: none;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;

}

.field > input {
  width: 95%;
  border: none;
  height: 20px;
}

.field > textarea:focus, input:focus {
    outline: none !important;
    border-bottom:1px solid #e88648;
}

figure.imagem-form > img {
    max-height: 200px;
    margin: 10px 0px 10px 0px;
}