//Header

$menu-item-color: white;

.header-mobile {
    display: flex;
    background-color: transparent;
    padding: 1em;
}

.menu-item-mobile {
    color: $menu-item-color;
    font-size: 1.2em;
    text-align: center;
    justify-content: space-between;
   // flex-grow: 1;
}

.menu-item-mobile:first-child {
   background-color: #EF6324;
   flex-grow: 1;
   border-radius: 50%;
   padding: 12px;
}

.menu-item-mobile:last-child {
    color: #000;
    flex-basis: 100%;
    align-self: center;
}

.bm-burger-button {
    position: absolute !important;
    width: 64px !important;
    height: 61px !important;
    left: 10px !important;
    top: 10px !important;
}

.menu-item:hover {
    background-color: #EF6324;
}

.bm-menu-wrap{
    background-color: #373a47;
}

.menu-item {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white
    
}


