@import url('https://unpkg.com/basscss@8.0.2/css/basscss.min.css');
@import url('http://fonts.googleapis.com/css?family=Raleway:400,700,800');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Cairo');
@import '_reset.scss';

$header-menu-color:#dfdfdf;
$menu-item-color: white;

 body {
     background-color: #F1EFF1;
 }


.header-mobile {
    display: flex;
    background-color: transparent;
    padding: 1em;
}

.menu-item-mobile {
    color: $menu-item-color;
    font-size: 1.2em;
    text-align: center;
    justify-content: space-between;
   // flex-grow: 1;
}

.menu-item-mobile:first-child {
   background-color: #d06233;
   flex-grow: 1;
   border-radius: 50%;
   padding: 12px;
}

.menu-item-mobile:last-child {
    color: #000;
    flex-basis: 100%;
    align-self: center;
}


p {
    font-family: 'Cairo', sans-serif;
}


p > span.logo  {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
}

p > span.logo > i {
    font-weight: normal;
}