@import url('http://fonts.googleapis.com/css?family=Raleway:400,700,800');
//@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Cairo');

@import '_reset.scss';

@import 'mobile-style.scss';
@import 'desktop.scss';
@import 'form.scss';


$header-menu-color:#dfdfdf;
$primary-color: #e88648;

body {
    background-color: #F1EFF1;
}

 p {
    font-family: 'Cairo', sans-serif;
}

img {
    max-width: 100%;
}

p > span.logo  {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
}

p > span.logo > i {
    font-weight: normal;
}

.card {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 20px;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-section {
    flex-direction: column;
    align-self: center;
}

div.card-section > h1.card-section-title {
    color: $primary-color;
    font-size: 2em;
    margin-bottom: 15px;
    margin-top: 15px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

div.card-section > h3.card-section-subtitle {
    color: #777577;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
}

div.card-section > h2.card-section-footer-title {
    color: $primary-color;
    font-size: 19px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.card-section-p {
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    color: #848384;
}


.bar {
    border-top: 1px solid $primary-color;
    width: 33%;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 33%;
}


.card-list {
  margin: 0px 12% 0px 12%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.loader,
.loader:before,
.loader:after {
  background: $primary-color;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: $primary-color;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
}



